node_modules/

.env
.env.*
!.env.example

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
.vscode/
.idea/

dist/
build/
coverage/

.npm/
.pnpm-debug.log*

.eslintcache
jest.cache/

docker-compose.override.yml
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfvars.json
crash.log

backend/nginx/certs/server.key
backend/nginx/certs/server.crt
